Ballpen Ink.../
Cooking Oil_cott.../
Mud_cotton/
*.h5
*.pth
*.jpg
*.JPG
*.png
*.PNG

*.keras
*.npz
*.log
*.exe
__pycache__/
*.pyc
DataSet/

# Allow tracking weights and logo
!stainscan_model_v3_balanced.h5
!stain_model.h5
!stainscan_model.pth
!stainscan_logo.png