Flask==3.0.3
Flask-CORS==4.0.1
Pillow==10.3.0
numpy==1.26.4
gunicorn==22.0.0
h5py==3.11.0
scikit-learn==1.4.2
pymongo==4.7.2
dnspython==2.6.1

# PyTorch CPU version (optimizes memory usage and reduces package size on free tiers)
--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torch==2.3.0+cpu
torchvision==0.18.0+cpu
